body{
    background-color: #FCFCFC;
}

main{
    width: 95%;
    margin: 0 auto;
}

.employees{
    display: flex;
    flex-wrap: wrap;
    
}


.employee-container{
    border: 1px solid #DFDFDF;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 10px 20px;
}

.employee-image{
    border-radius: 50%;
    height: 150px;
    margin-right: 20px;
}